{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay">       
    </div>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">                
                <h2 class="logo-font text-black mb-4">Frequently Asked Questions</h2>                                 
            </div>            
        </div>
        <div class="row">            
            <div class="col">
                <div class="accordion container" id="accordionExample">
                    {% for faq in faqs %}
                    <div class="card">
                        <div class="card-header" id="heading{{ forloop.counter }}">
                            <h2 class="mb-2">
                                <button class="btn btn-link {% if not forloop.first %}collapsed{% endif %}" 
                                        type="button" data-toggle="collapse" 
                                        data-target="#collapse{{ forloop.counter }}" 
                                        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" 
                                        aria-controls="collapse{{ forloop.counter }}">
                                    {{ faq.question }}
                                </button>
                            </h2>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" 
                             aria-labelledby="heading{{ forloop.counter }}" 
                             data-parent="#accordionExample">
                            <div class="card-body accordian-bg-gold content-black">
                                {{ faq.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div> 
            </div>           
        </div>           
    </div>
    

{% endblock %}