html {
    height: 100%;
}
body {
    background: url('/media/pallets.jpg') no-repeat center center fixed;
    background-size: cover;    
    height: calc(100vh - 160px);
    color: #555;
    font-family: 'Lato';    
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight:bolder;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: orange;
    color: black;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-orange {
    background: orange;
    color: black;
}
.shop-now-button:hover{
    background-color:#b18600;
}

.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #b18600;
    color: black;    
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: white !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    position: fixed;
    background: white;
    z-index: -1;
}
/* -------------------------------- Media Queries */

/* Larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 160px;
    }
}