<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Most Expensive</a>                
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item ">By Cheapest</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="home-furniture-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="home-furniture-link">
                <a href="{% url 'products' %}?category=beds" class="dropdown-item">Beds</a>
                <a href="{% url 'products' %}?category=coffee_tables" class="dropdown-item">Coffee Tables</a>
                <a href="{% url 'products' %}?category=other" class="dropdown-item">Other</a>
                <a href="{% url 'products' %}?category=beds,coffee_tables,other" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="garden-furnture-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gardenware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="garden-furnture-link">
                <a href="{% url 'products' %}?category=tables_chairs" class="dropdown-item">Tables & Chairs</a>
                <a href="{% url 'products' %}?category=benches_racks" class="dropdown-item">Benches & Racks</a>
                <a href="{% url 'products' %}?category=stands" class="dropdown-item">Stands</a>
                <a href="{% url 'products' %}?category=tables_chairs,benches_racks,stands" class="dropdown-item">All Gardenware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Requests
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">                              
                <a href="" class="dropdown-item">Submit your Request</a>
            </div>
        </li>
    </ul>
</div>