<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>                
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="home-furniture-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homeware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="home-furniture-link">
                <a href="" class="dropdown-item">Beds</a>
                <a href="" class="dropdown-item">Coffee Tables</a>
                <a href="" class="dropdown-item">Other</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="garden-furnture-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gardenware
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="garden-furnture-link">
                <a href="" class="dropdown-item">Tables & Chairs</a>
                <a href="" class="dropdown-item">Benches & Racks</a>
                <a href="" class="dropdown-item">Stands</a>
                <a href="" class="dropdown-item">All Gardenware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>                
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>