{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="card shadow-lg p-2 mb-5 bg-body rounded-4 text-center">
                    <h2 class="logo-font mb-4 mt-4">Who Are We?</h2>
                    <p class="mb-4">The Pallet Furniture Store is an established woodworking business, 
                        that specialises in the design, build and delivery of high quality furnishings. 
                        We have a team of woodwork specialists who design and deliver a high level 
                        of quality of both home and garden furniture pieces to suit your taste.</p> 
                </div> 
                <div class="card shadow-lg p-2 mb-5 bg-body rounded-4 text-center">
                    <h2 class="logo-font mb-4 mt-4">What do We Do?</h2>
                    <p class="mb-4">Here at the Pallet Furniture Store, we liase with a number of 
                        builder providers and construction companies, nationwide to collect, 
                        refurbish and re-cycle both, used and un-used pallets to produce bespoke 
                        furniture pieces, that are built to a high standard, while protecting 
                        the environment from unwanted waste.</p> 
                </div> 
                <div class="card shadow-lg p-2 mb-5 bg-body rounded-4 text-center">
                    <p>To view our latest range of pieces, visit our online store 
                        <span>
                            <a href="{% url 'products' %}" class="btn btn-sm btn-outline-orange rounded-4">
                                here
                            </a>
                        </span>
                    </p>
                </div>                            
            </div>                       
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow-lg p-2 mb-5 bg-body rounded-4">
                    <div class="image-container">
                        <img class="card-img-top img-fluid" src="https://res.cloudinary.com/dumkr6a3v/image/upload/v1739893796/woodworker_ivdfth.jpg" alt="wood worker image">
                    </div>
                </div>     
            </div>       
        </div>       
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}