{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
    
{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Our Latest Collection</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="products-container col-10 offset-1">
                <div class="row mb-2 mt-1">                
                </div>
                <div class="row">
                    {% for product in products %}                                                        
                        <div class="col-md-4">
                          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                            <div class="card-body text-center">                                                             
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                <h5 class="card-text">{{ product.name }}</h4>
                                    {% if product.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted">
                                            <i id="prodcat-icon" class="fa-solid fa-tag"></i>
                                            {{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                <h6>€{{ product.price }}</h5>
                            </div>
                          </div>                          
                        </div>                       
                    {% endfor %}
                </div>
            </div>            
        </div>
    </div>
{% endblock %}